
/* << general styling */
:root{
    /* not used for now */
}
/* custom font */
@font-face {
    font-family: 'simplifica'; 
    src: url('../fonts/simplifica/SIMPLIFICA Typeface.ttf');
}
@font-face {
    font-family: 'overpass'; 
    src: url('../fonts/overpass/overpass/overpass-regular.otf');
}
/*@font-face {
    font-family: 'old_type'; 
    src: url('../fonts/old/rm_typerighter.ttf');
}*/

* {
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #201c29;
}
body *{
    font-family: "overpass";
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img:not(.expand_button){
    pointer-events: none;
}

/* >> general styling*/


/* << header styling */
header {
    z-index: 99;
    /* if on mobile, change*/
    max-height: 30vh;
    width: 100%;
    position: fixed;
    /*background-color: rgba(117, 108, 108, 0.246);*/
    border-bottom-color: rgba(0, 0, 0, 1);
    border-bottom-width: 0 0 0.3vh;
    border-bottom-style: solid;
}
header nav{
    color: rgb(245, 222, 179);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "overpass";
    max-height: 30vh;
    position: relative;
}
/* title left of nav */
header nav .nav_title {
    display: inline-flex;
    margin: 4vh 5vw 1vw -5vw;
    align-items: center;
    max-width: 50%;
    font-size: 2.5vw;
    /*cursor: default;
    -- edited : now will link to top, removing "home" button
    and adding another one in replacement */
    position: relative;
}
header nav .nav_title h3:hover{
    transform: scale(1.15);
    color: rgb(255, 182, 193);
    /* to be determined
    background-color: rgb(241, 233, 221);
    border-radius: 30px;*/
}
header nav .nav_title img{
    max-height: 8vh;
    max-width: 6.5vw;
    position: absolute;
    /*where it will be placed : left: -35%;
    hidden at first : */
    left: -130vw;
    top: -1vh;
    /*display: none;*/
    transition: 1s;
    pointer-events: none;
}

/* actual nav */
header nav ul{
    display: inline-flex;
    flex-direction: row;
    margin: 3vh 1vw 1vw 7%;
    align-items: center;
}
header nav ul li{
    /* some of this already styled in general styling */
    margin: 0 4% 0 4%;
    font-size: 1.75vw;
    transition: 0.1s;
    position: relative;
}
header nav ul li:after{
    position: absolute;
    content: "";
    width: 70%;
    height: 0.4vh;
    top: 100%;
    left: 15%;
    background: rgb(115, 138, 219);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}
header nav ul li:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}
#nav_highlight {
    background-color: rgba(236, 55, 55, 0.685);
    color: rgba(230, 197, 197, 0.877);
    padding: 0.3vw 0.4vw 0 0.3vw;
    border-radius: 1vh;
    transition: color 0.6s;
    transition: background-color 0.6s;
    transition: transform 0.4s;
    box-shadow: 0.3vh 0.5vh 0.3vh rgba(236, 55, 55, 0.5);
}
#nav_highlight:hover{
    background-color: rgba(236, 55, 55, 0.877);
    color: rgb(255, 224, 224);
    transition: color 0.6s;
    transition: background-color 0.8s;
    transition: transform 0.4s;
    transform: translateY(-0.4vh);
}
/* dont do the underline thing for highlight */
header nav ul li#nav_highlight:hover:after{
    content: none;
}
header nav ul li#nav_highlight:after{
    content: none;
}

/* >> header styling */


/* << showcase styling */
#showcase{
    position: relative;
    height: 100vh;
    /*background-color: rgba(30, 103, 221, 0.637);
    bg-gradient from https://www.eggradients.com/category/blue-gradient 
    background-color: #ff4e00; 
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); */

    background-image: url("../img/showcase/discord_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-attachment: fixed;
}
#showcase #showcase_title{
    position: relative;
    display: inline-block;
    top: 50vh;
    left: 10%;
    color: rgba(245, 245, 245, 0.89);
    background-color: rgba(24, 23, 23, 0.835);
    padding: 1vw;
}
#showcase #showcase_title h1{
    font-size: 6vw;
    max-width: 50vw;
    font-family: "simplifica";
}
#showcase #showcase_title img{
    width: 6vw;
    height: auto;
    display: inline;
    position: absolute;
    left: 70%;
    top: 57%;
    pointer-events: none;
}

/* >> showcase styling */




/* << aufbau styling */
#aufbau{
    max-width: 100vw;
    position: relative;
    min-height: 90vh;
    /* moved to body{} 
    background-color: #201c29; */
    color: rgba(251, 251, 251, 0.705);
    z-index: 2;
}
#aufbau h3#aufbau_title{
    padding: 4vh 1vw 0 1vw;
    font-size: 4vw;
    text-align: center;
    color: white;
}
/* ## styling div basics */
#aufbau .collapse_div{
    position: relative;
    display: block;
    padding: 5vh 20%;
}
/* 1st one a bit more tho */
#aufbau .collapse_div#rollen{
    padding-top: 8vh;
}
/* ## styling expand/reduce span */
#aufbau .top_span{
    cursor: pointer;
    border-top: 0.5vh gray solid;
    border-bottom: 0.5vh gray solid;
    position: relative;
    padding: 2% 0 2% 0;
}
#aufbau .collapse_div .top_span h3{
    font-size: 1.5vw;
    top: 50%;
    transition: 0.3s;
}
#aufbau .collapse_div .top_span:hover > h3{
    transition: 0.3s;
    color: rgb(255, 255, 255);
}
#aufbau .collapse_div .top_span img{
    box-sizing: border-box;
    position: absolute;
    width: 2.6vw;
    right: 0%;
    top: 20%;
    opacity: 0.7;
}
#aufbau .collapse_div .top_span:hover > img{
    opacity: 1;
}
/* ## styling actual content div bascis */
#aufbau .collapse_div .content{
    /* hide at first o.o */
    overflow: hidden;
    /* general styling */
    line-height: 164%;
    font-size: 1.1vw;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 10px;
    color: black;
    margin-top: 1rem;
    
}
#aufbau .collapse_div .content span#channel_style{
    border-radius: 3px;
    padding: 0.3vw;
    font-weight: 500;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #7289da;
    background: rgba(114, 137, 218, 0.418);
    position: relative;
    /* prevent line-break of span */
    white-space: nowrap;
}
/* changes when clicking expand */
#aufbau .collapse_div .content.collapsed{
    max-height: 00vh;
    transition: 0s;
    height: auto;
}
#aufbau .collapse_div .content.flow{
    max-height: 300vh;
    transition: 0s;
    padding: 2.5vw;
    padding-bottom: 3vh;
}
#aufbau #rollen, #aufbau #channels, #aufbau #rang{
    transition: padding 0.2s;
}

/* styling the 3 specific containers */ 
#aufbau #rollen{
    position: relative;
}
#aufbau #rollen .content p{
    text-align: justify;
}
#aufbau #rollen .content img{
    float: right;
    width: 25vw;
    margin: 0.5vw; 
    margin-left: 1.5vw;
}

#aufbau #channels{
    position: relative;
}
#aufbau #channels ul h3{
    padding-bottom: 1vh;
    margin-left: 0;
}
#aufbau #channels ul{
    padding: 0;
}
/* to get the 3 first left, the rest normal 
#aufbau #channels ul li:nth-child(-n+3){
}*/
#aufbau #channels .content img{
    margin: 0.5vw 1.8vw 1.8vw 0.5vw; 
    width: 22vw;
    float: left;
}

#aufbau #rang{
    position: relative;
}
#aufbau #rang .content p{
    text-align: justify;
    padding-top: 10%;
    width: 60%;
}
#aufbau #rang .content img{
    float: right;
    width: 15vw;
    margin: 0.5vw 0.5vw 1.8vw 1.8vw; 
}
/* >> aufbau styling */




/* << wrapper styling */
hr#hr_middle{
    height: 0.2vh;
    background-color: rgba(204, 203, 203, 0.671);
    border: none;
    width: 90%;
    margin: auto auto auto auto;
}
#combo_wrapper{
    position: relative;
    font-family: "old_type" !important;
}
#combo_wrapper h3.wrapper_part_title{ 
    text-align: center;
    font-size: 2vw;
    padding-top: 6vh;
    position: relative;
    text-shadow: 0.3vh 0.3vh white;
}
#inside_wrapper{
    background-color: rgba(255, 255, 255, 0.76);
    color: rgb(34, 32, 32);
    position: relative;
    margin: 1vh 10vw;
    padding: 5vh 5vw;
    min-height: 90vh;
    border-radius: 20px;
}
/* >> geschichte styling */
#geschichte{
    width: 70%;
    margin: 0 auto;
}
#geschichte .geschichte_content .inside_content .inner_content_content{
    text-align: left;
    padding: 5vh 0 15vh 0;
    font-size: 1.3vw;
    line-height: 180%;
} 
#geschichte .geschichte_content .inside_content .inner_content_content h3{
    text-decoration: underline;
}
/* >> geschichte styling */

/* << moderation styling */
#moderation{
    position: relative;
}
h3#moderation_title{
    padding-top: 5vh;
    padding-bottom: 4vh;
}
#moderation .moderation_content{
    line-height: 3vh;
    width: 100%;
    min-height: 40vh;
}
#moderation .moderation_content .inner_content{
    border-color: red;
    border-width: 0.3vh;
    border-radius: 2vh;
    border-style: solid;
    width: 50%;
    position: relative;
    margin-top: 5vh;
    padding: 1vw;
    font-size: 1.2vw;
}
#moderation .moderation_content .inner_content h3{
    /* nice highlighter effect thanks to https://stackoverflow.com/questions/33451683/pen-highlighter-effect-in-css ! */ 
    color: rgb(51, 50, 50);
    font-weight: bolder;
    background: linear-gradient(104deg, rgba(130, 255, 173,0) 0.9%, rgba(130, 255, 173,1.25) 2.4%, rgba(130, 255, 173,0.5) 5.8%, rgba(130, 255, 173,0.1) 93%, rgba(130, 255, 173,0.7) 96%, rgba(130, 255, 1732,0) 98%), linear-gradient(183deg, rgba(130, 255, 173,0) 0%, rgba(130, 255, 173,0.3) 7.9%, rgba(130, 255, 173,0) 15%);
    padding: 1.3vh 0.7vw 1.5vh 0.7vw;
    border-radius: 3vh;
    width: 10vw;
    text-shadow: -12px 12px 9.8px rgba(130, 255, 174, 0.781), 21px -18.1px 7.3px rgba(255, 255, 255,1), -18.1px -27.3px 30px rgba(255, 255, 255,1);
}
#moderation .moderation_content img{
    position: relative;
    max-height: 35vh;
    max-width: 25vw;
}
#moderation .moderation_content#owner .inner_content{
    float: right;
    margin-right: 4vw;
    margin-top: 0vh;
    width: 50%;
}
#moderation .moderation_content#owner img{
    float: left;
}
#moderation .moderation_content#mods .inner_content{
    float: left;
    margin-left: 2vw;
    margin-top: -0.4vh;
    width: 60%;
}
#moderation .moderation_content#mods img{
    float: right;
}
/* >> moderation styling */

/* >> wrapper styling */




/* << aktuelles styling */
#aktuelles_wrapper{
    min-height: 70vh;
    position: relative;
    overflow: hidden;
}
#aktuelles_wrapper h3#aktuelles_title{
    padding: 16vh 1vw 5vh 1vw;
    font-size: 4vw;
    text-align: center;
    color: white;
}
/* inside div */
#aktuelles_wrapper #aktuelles{
    position: relative;
    /*background: rgba(41, 40, 40, 0.589);*/
    border: 0.5vh rgba(255, 255, 255, 0.541) solid;
    box-shadow: 0.5vh 1vh 1vh rgba(255, 255, 255, 0.548);
    border-radius: 20px;
    width: 60vw;
    height: 60vh;
    margin: 0 auto 20vh auto;
}
#aktuelles_wrapper #aktuelles .news_slides img{
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0; left: 0;
}
/* << left and right button */
#aktuelles_wrapper #aktuelles .slide_button{
    display: block;
    position: absolute;
    width: 3vw;
    background-color: rgba(245, 245, 245, 0.555);
    border-radius: 10px;
    /* position in middle (vertically) */
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0.7;
    cursor: pointer;
    border: red 0.1vw solid;
}
#aktuelles_wrapper #aktuelles .slide_button:hover{
    opacity: 1;
    background-color: rgba(245, 245, 245, 1);
}
#aktuelles_wrapper #aktuelles .slide_button img{
    position: relative;
    width: 3vw;
    user-select: none;
}
#aktuelles_wrapper #aktuelles .slide_button#slide_left{
    margin-right: 1vw;
}
#aktuelles_wrapper #aktuelles .slide_button#slide_right{
    right: 0.1vw;
}
/* >> left and right button */
/* << shown or hidden */
#aktuelles_wrapper #aktuelles .news_slides.hidden{
    opacity: 0;
}
#aktuelles_wrapper #aktuelles .news_slides.hidden img{
    opacity: 0;
}
#aktuelles_wrapper #aktuelles .news_slides.shown{
    opacity: 1;
}
#aktuelles_wrapper #aktuelles .news_slides.shown img{
    opacity: 1;
}

/* >> shown or hidden */
/* actual styling */
#aktuelles_wrapper #aktuelles .news_slides{
    /* pass */
    padding: 0;
    height: 100%;
    width: 100%;
}
#aktuelles_wrapper #aktuelles .news_slides .content{
    position: absolute;
    width: 60%;
    text-align: justify;
    color: rgba(245, 245, 245, 0.849);
    background-color: rgba(47, 79, 79, 0.883);
    padding: 2vh 1vw;
    border-radius: 2vh;

    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
#aktuelles_wrapper #aktuelles .news_slides .content h3{
    text-align: center;
}
/* >> aktuelles */




/* << join now */
#join{
    margin: auto;
    height: 40vh;
    margin-bottom: 10vh;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(-6deg);
    border-top: 1vh white solid;
    border-bottom: 1vh white solid;
}
#join .content{
    width: 40vw;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    transform: skewY(6deg);
    color: white;
    text-align: center;
    line-height: 250%;
}
#join .content h3{
    font-size: 3vw;
}
#join .content .join_now_highlight{
    font-size: 2vw;
    position: relative;
}
#join .content .join_now_highlight::after{
    position: absolute;
    content: "";
    bottom: 0vh;
    right: 50%;
    transform: translateX(55%);
    background: red;
    /* rainbow gradient fgoud on https://codepen.io/cssparadise/full/ExxayxM */
    background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
    height: 0.5vh;
    width: 93%;
    transition: height 0.3s;
    z-index: -1;
}
#join .content .join_now_highlight:hover:after{
    transition: height 0.3s;
    height: 1.3vh;
}
