
/* << general styling */
/* custom font */
@font-face {
    font-family: 'simplifica'; 
    src: url('../fonts/simplifica/SIMPLIFICA Typeface.ttf');
}
@font-face {
    font-family: 'overpass'; 
    src: url('../fonts/overpass/overpass/overpass-regular.otf');
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "overpass";
}
html{
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

.coming_soon{
    height: 500vh;
    background-image: url("../img/coming_soon.jpg");
    background-size: contain;
}
/* >> general styling*/


/* << header styling */
header {
    z-index: 2;
    /* if on mobile, change*/
    max-height: 30vh;
    width: 100%;
    position: fixed;
    /*background-color: rgba(117, 108, 108, 0.246);*/
    border-bottom-color: rgba(0, 0, 0, 0.938);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
header nav{
    color: rgb(245, 222, 179);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "overpass";
    max-height: 30vh;
}
/* title left of nav */
header nav .nav_title {
    display: inline-block;
    margin: 2vw 7% 1vw -5vw;
    max-width: 50%;
    font-size: 5vh;
    /*cursor: default;
    -- edited : now will link to top, removing "home" button
    and adding another one in replacement */
    position: relative;
}
header nav .nav_title h3:hover{
    transform: scale(1.15);
    color: rgba(0, 0, 0, 0.705);
    /* to be determined
    background-color: rgb(241, 233, 221);
    border-radius: 30px;*/
}
header nav .nav_title img{
    max-width: 10vh;
    position: absolute;
    /*where it will be placed : left: -35%;
    hidden at first : */
    left: -200vh;
    top: -10%;
    /*display: none;*/
    transition: 1s;
    pointer-events: none;
}

/* actual nav */
header nav ul{
    display: inline-flex;
    flex-direction: row;
    margin: 1.5vw 1vw 1vw 7%;

}
header nav ul li{
    /* some of this already styled in general styling */
    margin: 0 4% 0 4%;
    font-size: 3.5vh;
    transition: 0.1s;
    position: relative;
}
header nav ul li:hover{
    color: rgba(0, 0, 0, 0.74);
}
header nav ul li:after{
    position: absolute;
    content: "";
    width: 70%;
    height: 3px;
    top: 100%;
    left: 15%;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}
header nav ul li:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}
#nav_highlight {
    background-color: rgba(236, 55, 55, 0.685);
    color: rgba(230, 197, 197, 0.877);
    padding: 4px 4px 0 3px;
    border-radius: 10px;
    transition: color 0.6s;
    transition: background-color 0.6s;
    transition: transform 0.4s;
}
#nav_highlight:hover{
    background-color: rgba(236, 55, 55, 0.877);
    color: rgb(255, 224, 224);
    transition: color 0.6s;
    transition: background-color 0.8s;
    transition: transform 0.4s;
    transform: translateY(-0.2vh);
    
}
/* dont do the underline thing for highlight */
header nav ul li#nav_highlight:hover:after{
    content: none;
}
header nav ul li#nav_highlight:after{
    content: none;
}

/* >> header styling */


/* << showcase styling */
#showcase{
    position: relative;
    height: 100vh;
    /*background-color: rgba(30, 103, 221, 0.637);
    bg-gradient from https://www.eggradients.com/category/blue-gradient 
    background-color: #ff4e00; 
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); */

    background-image: url("../img/showcase/discord_logo.png");
}
#showcase #showcase_title{
    position: relative;
    display: inline-block;
    top: 50%;
    left: 10%;
    color: rgb(245, 222, 179);
}
#showcase #showcase_title h1{
    font-size: 12vh;
    max-width: 50vw;
    font-family: "simplifica";
}
#showcase #showcase_title h1 #dark{
    font-family: inherit;
    color: rgb(46, 44, 42);
}
#showcase #showcase_title img{
    width: 10vh;
    height: auto;
    display: inline;
    position: absolute;
    left: 70%;
    top: 57%;
    pointer-events: none;
}

/* >> showcase styling */